.ovfHiden{overflow: hidden;height: 100%;}
a{
	text-decoration: none;
	color: #FF8100;
}
.main{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.main p{
	font-size: 17px;
	text-align: center;
	color: #666666;
}
.main .pt{
	margin-top: 16%;
}
.main .p0{
	margin-top: -10px;
}
.main .pict{
	width: 165px;
	height: 165px;
	margin-left: 28%;
	margin-top: 5%;
	border: 1px solid #FF8100;
	border-radius: 4px;
}
.main .pict img{
	width: 145px;
	height: 145px;
	margin-left: 6%;
	margin-top: 6%;
}
.main .orange{
	color: #FF8100;
}
.main .pb{
	text-align: center;
	margin-top: 11%;	
}
 .pb span{
	color: #999999;
	font-size: 15px;
	float: left;
	margin-left: 27%;
}
 .pb img{
	margin-left: 9px;
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 1px;
}
.wrap{
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	z-index: 1111;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}
.invited{
	width: 70%;
	height: 140px;
	background: white;
	border-radius: 8px;
	position: fixed;
	top: 30%;
	left: 15%;
	z-index: 9999;
	display: none;
}
.invited .sh{
	height: 65%;
	width: 100%;
	border-bottom: 1px solid #E5E5E5;
	float: left;
}
.invited .sh p{
	margin-top: 8%;
	text-align: center;
	font-size: 14px;
	color: #000000;
	margin-left: 9%;
	margin-right: 10%;
	line-height: 19px;
	text-align: justify;
}
.invited .xia{
	float: left;
	height: 20%;
	width: 100%;
}
.invited .xia p{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FF8100;
	line-height: 18px;
}
@media screen and (max-width: 1024px){
	.main .pict{
		margin-left: 41.5%;
	}	
	.pb{
		margin-left: 20%;
	}
}
@media screen and (max-width: 768px){
	.main .pict{
		margin-left: 39%;
	}	
	.pb{
		margin-left: 16%;
	}
}
@media screen and (max-width: 414px){
	.main .pict{
		margin-left: 30.5%;
	}	
	.pb{
		margin-left: 0%;
	}
}
@media screen and (max-width: 412px){
	.main .pict{
		margin-left: 30%;
	}	
	.pb{
		margin-left: 0%;
	}
}
@media screen and (max-width: 375px){
	.main .pict{
		margin-left: 28%;
	}	
	.pb{
		margin-left: 0%;
	}
}
@media screen and (max-width: 360px){
	.main .pict{
		margin-left: 27%;
	}
	.pb{
		margin-left: 0%;
	}	
}
@media screen and (max-width: 320px){
	.main .pict{
		margin-left: 24%;
	}	
	.pb{
		margin-left: 0%;
	}
	/*.invited .sh{
		height: 69%;
	}
	.invited .xia{
		height: 30%;
	}
	.invited .xia p{
		line-height: 12px;
	}*/
}

