body{
	background: #f1f1f1;
	font-size: 18px;
	font-family: "微软雅黑";
}
.main{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
}
.main .top{
	width: 100%;
	height: 60px;
	background: white;
}
.main .top p{
	margin-left: 17px;
	float: left;
	line-height: 27px;
	color: #666666;
}
.main label{
	line-height: 60px;
	float: left;
	color: #666666;
	font-size: 18px;
}
.main .top label{
	margin-left: 17px;
}
.main input{
	width: 60%;
	height: 30px;
	outline: none;
	margin-top: 15px;
	font-size: 18px;
	float: left;
	border: none;
}
.main .ip1{
	margin-left: 15px;
}
.main .sames{
	width: 65%;
}
.main .tab{
	margin-top: 9px;
	background: white;
	width: 100%;
	height: auto;
}
.main .tab p{
	color: #666666;
}
.main .tab ul{
	margin-left:-22px ;
	width: 100%;
	height: auto;
}
.tab ul li{
	height: 60px;
	width: 92%;
	border-bottom:1px solid #e5e5e5;
	list-style: none;
}
.tab ul :nth-child(3){
	border-bottom:none;
}
.tab ul li img{
	float: right;
	width: 10px;
	height: 18px;
	margin-top: 24px;
}
.tab ul li .send{
	float: right;
	line-height: 60px;
	color: #666666
}
.main .tab .same{
	width: 50%;
}
.main button{
	outline: none;
	border: none;
	width: 92%;
	height: 50px;
	border-radius: 6px;
	background: #D0D0D0;
	color: white;
	text-align: center;
	font-size: 19px;
	margin-top: 30px;
	margin-left: 4%;
}
