.mui-bar .mui-icon{
	font-size: 26px;
}
.mui-bar .mui-btn-link{
	color: #222222;
}
.mui-bar  .mui-btn .mui-icon{
	top: 2px;
}
header button span{
	color: #222222;
}
.mui-bar .mui-btn-nav.mui-pull-left {
    margin-left: 0px;
}
.content ul .mui-table-view-cell a{
	white-space: normal;
	overflow: auto;
}
.mui-table-view-cell a p{
	font-size: 17px;
	color: #222222;
	margin-top: 4px;
}
.mui-title{
	font-weight: bold;
}
.content .p1{
	font-size: 15px;
	margin-top: 15px;
	color: #999999;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 20px;
}
.content .p1 a{
	color: #ff8100;
}
